@import "@/assets/font/font.scss";
@import "@/assets/iconfont/iconfont.css";
body {
   font-family: Alibaba-Regular, Alibaba-Light;
   height: 100vh;
   margin: 0 0 0 0 !important;
   overflow: hidden;
   background-color: white;
}